body {
  background-color: #f5f5f5;
}
#explanations {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.main {
  display: flex;
  margin: auto;
  flex-flow: row;
}
#editor {
  width: 30%;
  height: 600px;
  padding: 0;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}
#display {
  width: 70%;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 2;
}
#editor.close {
  width: 0;
  padding: 0;
  flex-grow: 0;
}
#editor.full {
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 2;
}

#editor.close .CodeMirror {
  border: none;
}

#size {
  width: 20px;
  flex-shrink: 0;
}
button.editor-sizing {
  width: 20px;
  padding: 0;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

#code {
  width: 100%;
  height: 100%;
}
#actions {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
#actions button {
  width: 150px;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
#go {
  background-color: #00c444;
  color: #ffffff;
  border: solid 1px #00c444;
}
#clear {
  background-color: transparent;
  border: solid 1px #585f75;
  color: #585f75;
}
#declick-container {
  height: 100%;
  width: 100%;
  border: solid 1px #8d8d8d;
  background-color: #ffffff;
  box-sizing: border-box;
}
.error {
  background-color: #f66c1e;
  color: #f5f5f5;
}
#description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  min-height: 20px;
  margin-top: 5px;
}
